<!-- <ng-container *ngIf="(auth.user | async) || {} as user"> -->

<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <section class="form-block">
    <h3>Create an Account</h3>
  </section>
  <section class="form-block">
    <div class="form-group">
      <label for="validFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md">
        <input placeholder="First Name" id="validFirstName" type="text" formControlName="first">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="validFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md">
        <input placeholder="Last Name" type="text" formControlName="last">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="validFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md">
        <input placeholder="Email Address" type="email" formControlName="email">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="validFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md">
        <input placeholder="Confirm Email Address" type="email" formControlName="email">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="validFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md">
        <input placeholder="Password" type="password" formControlName="password">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
  </section>

  <!-- <div *ngIf="email.invalid && email.dirty">
      Your email doesn't look quite right...
    </div>

    <label for="passowrd">Password</label>
    <input type="password" formControlName="password" required>

    <div *ngIf="password.invalid && password.touched">
      Password must be between 6 and 24 chars and have at least one number
    </div>

    <div *ngIf="signupForm.valid">Form looks good! Let's do this.</div> -->

  <button type="submit" class="btn btn-link btn-block">Create Account</button>

</form>

<!-- </ng-container> -->