<form class="compact" #frm="ngForm">
  <div class="form-group">
    <label for="phoneNumber">Name</label>
    <input placeholder="restaurant name" type="text" id="restaurantName" name="name" class="form-control"
           [ngModel]="restaurant?.name">
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input placeholder="phone number" type="number" id="phoneNumber" name="phone_number" class="form-control"
           [ngModel]="restaurant?.phone_number">
  </div>

  <app-address [address]="restaurant?.address"></app-address>

</form>
