<clr-main-container>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 push-md-2">
      <ng-container *ngIf="(authService.user$ | async) || {} as user">

        <!-- Initial SignupForm -->
        <form class="form" (ngSubmit)="onSignup()" [formGroup]="signupForm" *ngIf="!user.uid">
          <section class="form-block">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">\
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
          </section>
        </form>
        <!-- <app-user-form *ngIf="!user.uid"></app-user-form> -->

        <!-- Detail Form -->
        <form class="form" [formGroup]="detailForm" (ngSubmit)="setDetails(user)" *ngIf="user.uid && !user.name">
          <section class="form-block">
            <div class="form-group">
              <label for="roles">Role</label>
              <div class="select">
                <select name="roles" class="form-control" formControlName="roles">
                  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
              </div>
            </div>
            <div formGroupName="name">
              <div class="form-group">
                <label for="first">First Name</label>
                <input type="text" id="firstName" name="first" class="form-control" formControlName="first">
              </div>
              <div class="form-group">
                <label for="password">Last Name</label>
                <input type="text" id="lastName" name="last" class="form-control" formControlName="last">
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" id="phoneNumber" name="phone" class="form-control" formControlName="phone">
            </div>
          </section>

          <!-- Address -->
          <section class="form-block" formGroupName="address">
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" id="street" name="street" class="form-control" formControlName="street">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" name="city" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" name="state" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="text" id="zip" name="zip" class="form-control" formControlName="zip">
            </div>
          </section>

          <button class="btn btn-primary" type="submit" [disabled]="!detailForm.valid">NEXT</button>
        </form>

        <app-restaurant-form [user]="user" *ngIf="user.uid && user.name"></app-restaurant-form>
        {{user.roles}}
      </ng-container>
    </div>
  </div>

</clr-main-container>