<div class="row">
  <div class="col s12 m10 offset-m1">

    <!-- <a href="#" class="btn-small btn waves-effect waves-light" *ngIf="!wasClicked; else elseAddBlock" appOpenClose>Add Meal</a> -->
    <a href="#" class="btn-small btn waves-effect waves-light" (click)="toggle = !toggle">Add Meal</a>

    <!-- <ng-template *appOpenClose="!toggleAddMeal"> -->
    <div class="card" *appOpenClose="!toggle">
      <div class="card-content">
        <a href="#!" (click)="toggle = !toggle">
          <span class="new badge red darken-2" data-badge-caption="close">
            <i class="fa fa-times-circle"></i>
          </span>
        </a>
        <span class="card-title">
          Add Meal
        </span>


        <app-add-meal [allergies]="allergies"></app-add-meal>

      </div>
    </div>
    <!-- </ng-template> -->

  </div>
</div>
<div class="row">
  <div class="col s12 m10 offset-m1">
    <div *ngIf="meals?.length > 0; else elseBlock">

      <ul *ngFor="let meal of meals" class="collection">
        <li class="collection-item">
          <div>
            <app-meal-item [meal]="meal" (doEdit)="doEdit($event, meal)"></app-meal-item>
            <a href="#" class="secondary-content">
              <i class="fa fa-pencil" (click)="editMeal($event, meal)"></i>
              <i *ngIf="editState" class="fa fa-times" (click)="clearEdit()"></i>
            </a>
          </div>

          <div *ngIf="editState">
            <app-meal-detail [meal]="meal" [allergies]="allergies"></app-meal-detail>
          </div>

        </li>
      </ul>

    </div>

    <ng-template #elseBlock>
      <p>
        There are no meals for this Restaurant!
      </p>
    </ng-template>
  </div>
</div>