<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 push-md-2">
    <ng-container>

      <!-- Initial SignupForm -->
      <form class="form" #f="ngForm">
        <div class="signup-group">
          <app-messages [messages]=messages></app-messages>

          <section class="form-block">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control" [ngModel]="user?.name">
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                     [ngModel]="user?.phone_number">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" [ngModel]="user?.email">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" [ngModel]>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [ngModel]>
            </div>


            <div *ngIf="allDataFetched">
              <div *ngIf="user;then edit else new">
              </div>
            </div>
            <ng-template #edit>
              <button class="btn btn-primary" type="submit" (click)="onUpdate(f)" [disabled]="!f.valid">Save</button>
            </ng-template>

            <ng-template #new>
              <button class="btn btn-primary" type="submit" (click)="onSignup(f)" [disabled]="!f.valid">Sign Up</button>
            </ng-template>
          </section>
        </div>
      </form>
    </ng-container>
  </div>
</div>
