<app-home></app-home>
<div *ngIf="allDataFetched">
  <form class="form" #frm="ngForm" (ngSubmit)="onSearch()">
    <div>
      <section class="form-block">
        <div>
          <div class="form-group row drop">
            <div class="col-xs-5">
              <label>Allergies</label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-1" *ngFor="let allergy of allergies;let i = index;">
              <div class="checkbox-inline center">
                <input id="{{allergy.name}}" name="{{allergy.name}}" type="checkbox"
                       [checked]="allergy?.checked" (change)="onCheckboxChange(allergy?.checked, i)">
                <label [for]="allergy.name">{{allergy.name}}</label>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row drop">
          <div class="col-xs-5">
            <label>Price Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</label>
          </div>
        </div>


        <div class="col-xs-1">
          <div class="center">
            <p-slider name="price" [ngModel]="rangeValues" [style]="{'width':'200px'}" range="true"></p-slider>
          </div>
        </div>


      </section>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!frm.valid">Search</button>
  </form>

  <clr-stack-view>
    <clr-stack-header class="cap">
    </clr-stack-header>
    <div *ngFor="let meal of meals">


      <clr-stack-block>

        <clr-stack-label>{{meal.name}}</clr-stack-label>
        <div class="flexMe">
          <clr-stack-content>{{meal.description}}</clr-stack-content>
          <clr-stack-content>
          </clr-stack-content>
        </div>

        <clr-stack-block>
          <clr-stack-label>Allergies</clr-stack-label>
          <clr-stack-content *ngIf="meal.allergies.length > 0">
            <span *ngFor="let allergy of meal.allergies;let last=last;let i = index">{{allergy.name}}{{last ? '' : (i==meal.allergies.length-2) ? ' and ' : ', '}}</span>
          </clr-stack-content>
        </clr-stack-block>

        <clr-stack-block>
          <clr-stack-label>Price</clr-stack-label>
          <clr-stack-content>${{meal.price}}</clr-stack-content>
        </clr-stack-block>

      </clr-stack-block>

    </div>

  </clr-stack-view>
</div>
